@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #0560a6,
    #06569b,
    #074c91,
    #074286,
    #08387b,
    #053c7e,
    #024081,
    #004484,
    #005793,
    #006a9f,
    #007caa,
    #098fb3
  );
} */
